apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  labels:
    app: {{ .Values.name }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.name }}
  ports:
  - protocol: TCP
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
    name: http
  - protocol: TCP
    port: {{ .Values.service.metricsPort }}
    targetPort: {{ .Values.service.metricsPort }}
    name: metrics
